{% load static %}

<div class="row question">
    <div class="col-2">
        <p class="image-center">
            <img class="img" src="{{ question.author.image }}" class="avatar-content">
        </p>
        <div class="center">
            <button id="like-button" class="button">like</button>
            <div class="rating-table">{{ question.rating }}</div>
            <button id="dislike-button" class="button">dislike</button>
        </div>
    </div>
    <div class="col-10">
        <div class="question-header">
            <h2><a href={% url 'question' question.id %}>{{ question.name }}</a></h2>
            {{ question.text }}
        </div>
        <div class="row">
            <div class="col-5">
                <a class="answers" href={% url 'question' question.id %}>answers ({{ question.answers.count }})</a>
            </div>
            <div class="col-7">
                <p class="answer-tags">Tags: 
                    {% for tag in question.tags.all %}
                        <a href="{% url "tag" tag.id %}">{{ tag }}</a>
                    {% endfor %}
                </p>
            </div>
        </div>
    </div>
</div>