{% load static %}

<div>
    <h2>DataBase information</h2>
    <div>Profiles count: {{ num_profiles }}</div>
    <div>Questions count: {{ num_questions }}</div>
    <div>Likes for questions count: {{ likes_4q_count }}</div>
    <div>Answers count: {{ num_answers }}</div>
    <div>Likes for answers count: {{ likes_4a_count }}</div>
    <div>Tags count: {{ num_tags }}</div>
    <div>New questions: <a href={% url 'new' %}>new</a></div>
    <div>Hot questions: <a href={% url 'hot' %}>hot</a></div>
</div>

